.profile-pic {
  border: 5px solid #47536b;
  margin: 20px 0 0 0;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

@media only screen and (max-width: 450px) {
  .profile-pic {
    height: 200px;
    width: 200px;
  }
}
